<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Speed Hell – Profil</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
<div class="profile-bckground">
    <div class="profile-container">
        


        <div class="profile-header-box">
            </div>

        <div class="profile-content-wrapper">
            
            <main class="profile-main">
                <div class="profile-block">
                    <h2>O mně</h2>
                      <div class="profile-content">
                        <p>Tvůj text...</p>
                      </div>

                  <a href="/" class="back-to-home-inline">
                    <span class="arrow">←</span> ZPĚT DO PEKLA
                  </a>
                </div>
            </main>

            <aside class="profile-sidebar">
              <div class="stats-content" style="padding: 20px; text-align: center;">
                <h2 style="font-family: 'NavFont'; color: #bd272f;">Statistiky</h2>
                <p style="color: #ddd;">Celkový čas v pekle:</p>
                <p style="font-size: 24px; color: #ff3b3b; font-weight: bold;">
                    {{ user.profile.play_time }} sekund
                </p>
              </div>
            </aside>

        </div>
    </div>
</div>
</body>
</html>
