{% extends "base.html" %}

{% block title %}Komentáře - Speed Hell{% endblock %}

{% block content %}
<div class="blok">
    <div class="section">
        <h2>KOMENTÁŘOVÁ SEKCE</h2>
        <p>
            Uživatelé sem budou moci postovat komentáře, feedback, nebo jejich nálady...
            (facebook/reddit záleží na použití). Tyto příspěvky se budou ukládat do databáze,
            aby každý uživatel věděl, co kdo napsal a tato databáze bude napojena na databáze 
            profilu (aby každý uživatel věděl, co kdy kde a kam napsal).
        </p>

        <h2>ZATÍM NEDOKONČENO</h2>
    </div>
</div>
{% endblock %}
