{% extends "base.html" %} 

{% block content %}
<div class="leaderboard-wrapper">
    
    <div class="leaderboard-container-block">
        <table class="leaderboard-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>HRÁČ</th>
                    <th style="text-align: right;">NEJLEPŠÍ ČAS</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in profiles %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td>{{ profile.user.username }}</td>
                    <td>{{ profile.get_formatted_time }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" style="text-align: center; color: #888; padding: 50px;">
                        Zatím žádné záznamy v pekle...
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="margin-top: 40px;">
        <a href="/" class="back-to-home-inline">
            <span class="arrow">←</span> ZPĚT DO MENU
        </a>
    </div>
</div>
{% endblock %}